<div class="d-block body-right ">
  <div class="d-block array-body-content">


   <div class="d-flex projects-first-block">
    <div class="d-inline-flex first-block-element">
      <div class="right-body-content-grid swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="container col-container-inner">
              <%= link_to image_tag("code-pic.png", :class => "img-fluid col-container-inner-picture"), home_projects_path %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container col-container-inner">
              <%= link_to image_tag("bocce-ellie.png", :class => "img-fluid col-container-inner-picture"), home_animals_path %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container col-container-inner">
              <%= link_to image_tag("joel-jumping.jpg", :class => "img-fluid col-container-inner-picture"), home_travel_path %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container col-container-inner">
              <%= link_to image_tag("wedding-pic.jpg", :class => "img-fluid col-container-inner-picture"), home_wedding_path %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container col-container-inner">
              <%= link_to image_tag("panda-pic.jpg", :class => "img-fluid col-container-inner-picture"), home_wifey_path %>
            </div>
          </div>
    
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>

    <div class="d-inline-flex first-block-second-element">
      <div class="first-block-second-element-text">
        Simple JS Carousel
      </div>
    </div>
   </div>
  </div>

  <div class="d-block array-body-content">


   <div class="d-flex projects-first-block">
    <div class="d-inline-flex first-block-element">
      <button class="first-block-element">Content</button>
    </div>

    <div class="d-inline-flex first-block-second-element">
      <div class="first-block-second-element-text">
        Blog: </br>A place for things that come to mind
      </div>
    </div>
   </div>
  </div>
</div>
