<div id="whole-body-content">
  <div class="d-flex flex-column">

    <div id: "first-body-content">
      <div class="p2 d-flex flex-row justify-content-center">
        <div class="p2" style="padding-left: 22%; width: 100%; height: auto; display: inline-flex;">
          <h1 style="display:inline-flex; font-size: 12vw;" class="J">
            
            <%= 
              'J'
            %>
            </h1>
            <h1 style="display:inline-flex; font-size: 12vw;" class="o">
              <%=
                'o'
            %>
            </h1>
            <h1 style="display:inline-flex; font-size: 12vw;" class="e">
              <%=
                'e'
            %>
            </h1>
            <h1 style="display:inline-flex; font-size: 12vw;" class="l0">
              <%=
                'l'
            %>
            </h1>
            <h1 style="display:inline-flex; font-size: 12vw;" class=" ">
              <%=
                ' '
            %>
            </h1>
            <h1 style="display:inline-flex; font-size: 12vw;" class="S">
              <%=
                'S'
            %>
            </h1>
            <h1 style="display:inline-flex; font-size: 12vw;" class="u">
              <%=
                'u'
            %>
            </h1>
            <h1 style="display:inline-flex; font-size: 12vw;" class="l1">
              <%=
                'l'
            %>
            </h1>
            <h1 style="display:inline-flex; font-size: 12vw;" class="l2">
              <%=
                'l'
            %>
            </h1>
            <h1 style="display:inline-flex; font-size: 12vw;" class="i">
              <%=
                'i'
            %>
            </h1>
            <h1 style="display:inline-flex; font-size: 12vw;" class="v">
              <%=
                'v'
            %>
            </h1>
            <h1 style="display:inline-flex; font-size: 12vw;" class="a">
              <%=
                'a'
            %>
            </h1>
            <h1 style="display:inline-flex; font-size: 12vw;" class="n">
              <%=
                'n'
            %>
            </h1>
          </h1>
        </div>
      </div>
    </div>
    </br>
    </br>
    </br>
      <a href="<%= home_about_path %>">
        <button id="whole-second-body">
          <div class="p2 d-flex flex-row justify-content-between">
            <div class="p2" id="third-body-verbiage">
              My Life:
              <h2>West to East to Midwest!</h2>
            </div>
          </div>
        </button>
      </a>
    </div>
    </br>
    <div>
      <a href="<%= home_projects_path %>">
        <button id="whole-third-body">
          <div class="p2 d-flex flex-row justify-content-between">
            <div class="p2" id="second-body-verbiage">
              <h1>My Career: </br>
              Beginnings in </br>
              the Bay</h1>
            </div>
          </div>
        </button>
      </a>
    </div>
    </br>
  </div>
</div>