<div id="whole-body-content">
  <div class="d-flex flex-column">

    <div id: "first-body-content">
      <div class="p2 d-flex flex-row justify-content-center">
        <div class="p2">
          <h1 style="display:inline-block; font-size: 72px;" class="J">
            <%= 
              'J'
            %>
          </h1>
          <h1 style="display:inline-block; font-size: 72px;" class="o">
            <%=
              'o'
          %>
          </h1>
          <h1 style="display:inline-block; font-size: 72px;" class="e">
            <%=
              'e'
          %>
          </h1>
          <h1 style="display:inline-block; font-size: 72px;" class="l0">
            <%=
              'l'
          %>
          </h1>
          <h1 style="display:inline-block; font-size: 72px;" class=" ">
            <%=
              ' '
          %>
          </h1>
          <h1 style="display:inline-block; font-size: 72px;" class="S">
            <%=
              'S'
          %>
          </h1>
          <h1 style="display:inline-block; font-size: 72px;" class="u">
            <%=
              'u'
          %>
          </h1>
          <h1 style="display:inline-block; font-size: 72px;" class="l1">
            <%=
              'l'
          %>
          </h1>
          <h1 style="display:inline-block; font-size: 72px;" class="l2">
            <%=
              'l'
          %>
          </h1>
          <h1 style="display:inline-block; font-size: 72px;" class="i">
            <%=
              'i'
          %>
          </h1>
          <h1 style="display:inline-block; font-size: 72px;" class="v">
            <%=
              'v'
          %>
          </h1>
          <h1 style="display:inline-block; font-size: 72px;" class="a">
            <%=
              'a'
          %>
          </h1>
          <h1 style="display:inline-block; font-size: 72px;" class="n">
            <%=
              'n'
          %>
          </h1>

          
            

          </h1>








        </div>
      </div>
    </div>

    <div id="whole-second-body">
      <div class="p2 d-flex flex-row justify-content-between">
        <div class="p2" id="second-body-verbiage">
          My Career </br>
          Beginnings in the Bay
        </div>
      </div>
    </div>

    <div id="whole-third-body">
      <div class="p2 d-flex flex-row justify-content-between">
        <div class="p2" id="third-body-verbiage">
          My Life
          <h2>West to East to Midwest!</h2>
        </div>
      </div>
    </div>
  </div>
</div>