<div class="right-body-content-grid swiper">

      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="container col-container-inner">
            <%= link_to image_tag("code-pic.png", :class => "img-fluid col-container-inner-picture"), home_projects_path %>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container col-container-inner">
            <%= link_to image_tag("bocce-ellie.png", :class => "img-fluid col-container-inner-picture"), home_animals_path %>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container col-container-inner">
            <%= link_to image_tag("joel-jumping.jpg", :class => "img-fluid col-container-inner-picture"), home_travel_path %>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container col-container-inner">
            <%= link_to image_tag("wedding-pic.jpg", :class => "img-fluid col-container-inner-picture"), home_wedding_path %>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container col-container-inner">
            <%= link_to image_tag("panda-pic.jpg", :class => "img-fluid col-container-inner-picture"), home_wifey_path %>
          </div>
        </div>
  
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>